n8n-workflows/GamingPulse - RSS Pipeline.json
{
  "name": "GamingPulse - RSS Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        4080,
        1936
      ],
      "id": "79d54d9e-41ba-4244-814e-262da6c63c67",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst sourceMap = {\n  'pcgamer.com': { source: 'PC Gamer', category: 'gaming' },\n  'rockpapershotgun.com': { source: 'Rock Paper Shotgun', category: 'gaming' },\n  'eurogamer.net': { source: 'Eurogamer', category: 'gaming' },\n  'techpowerup.com': { source: 'TechPowerUp', category: 'hardware' },\n  'phoronix.com': { source: 'Phoronix', category: 'hardware' },\n  'gamingonlinux.com': { source: 'GamingOnLinux', category: 'proton' },\n  'youtube.com': { source: 'Digital Foundry', category: 'hardware' },\n  'gamespot.com': { source: 'GameSpot', category: 'gaming' },\n  'ign.com': { source: 'IGN', category: 'gaming' }\n};\n\nconst getDomain = (url) => {\n  if (url.includes('youtube.com')) return 'youtube.com';\n  if (url.includes('pcgamer.com')) return 'pcgamer.com';\n  if (url.includes('rockpapershotgun.com')) return 'rockpapershotgun.com';\n  if (url.includes('eurogamer.net')) return 'eurogamer.net';\n  if (url.includes('techpowerup.com')) return 'techpowerup.com';\n  if (url.includes('phoronix.com')) return 'phoronix.com';\n  if (url.includes('gamingonlinux.com')) return 'gamingonlinux.com';\n  if (url.includes('gamespot.com')) return 'gamespot.com';\n  if (url.includes('ign.com')) return 'ign.com';\n  return '';\n};\n\nconst cleanText = (str) => (str || '')\n  .replace(/\\s+/g, ' ')\n  .replace(/[\"\"\"]/g, \"'\")\n  .replace(/\\\\/g, '')\n  .replace(/[\\r\\n\\t]/g, ' ')\n  .replace(/<[^>]*>/g, '')\n  .substring(0, 1500)\n  .trim();\n\n// Max Items pro Feed — verhindert dass ein großer Feed alles dominiert\nconst MAX_PER_SOURCE = 3;\n\nconst seenInBatch = {};\nconst perSource = {};\nconst newItems = [];\n\nfor (const item of items) {\n  const rawUrl = item.json.link || item.json.id || '';\n  if (!rawUrl || seenInBatch[rawUrl]) continue;\n  seenInBatch[rawUrl] = true;\n\n  const domain = getDomain(rawUrl);\n  const meta = sourceMap[domain] || { source: 'Unknown', category: 'gaming' };\n\n  // Pro Feed auf MAX_PER_SOURCE begrenzen\n  perSource[meta.source] = perSource[meta.source] || 0;\n  if (perSource[meta.source] >= MAX_PER_SOURCE) continue;\n  perSource[meta.source]++;\n\n  const title = cleanText(item.json.title);\n  const candidates = [\n    item.json.content,\n    item.json['content:encoded'],\n    item.json.description,\n    item.json.contentSnippet,\n    item.json.summary\n  ].filter(Boolean);\n  const desc = cleanText(candidates.sort((a, b) => b.length - a.length)[0] || '');\n  const isYouTube = domain === 'youtube.com';\n  const prompt = 'Summarize this news in 2-3 sentences. Output ONLY the summary, nothing else. No introductions, no prefixes, no meta-commentary. --- Title: ' + title + ' --- Content: ' + (desc || 'No content provided, summarize from title only.');\n\n  newItems.push({\n    json: {\n      title,\n      link: rawUrl,\n      description: desc,\n      source: meta.source,\n      category: meta.category,\n      skipOllama: isYouTube,\n      prompt,\n      groqBody: isYouTube ? '' : JSON.stringify({\n        model: 'llama-3.1-8b-instant',\n        messages: [{ role: 'user', content: prompt }],\n        temperature: 0.3,\n        max_tokens: 200\n      })\n    }\n  });\n}\n\nif (newItems.length === 0) return [];\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5104,
        1936
      ],
      "id": "9b40cbcb-9282-43d0-be91-a40e11d66823",
      "name": "Parse Feed Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8080/api/llm/summarize",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"prompt\": \"{{ $('Loop Over Items').item.json.prompt }}\"}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6080,
        1936
      ],
      "id": "d80f2531-589e-4b68-bd75-babef0836b97",
      "name": "LLM Summarize",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "0VqYLTryWIkSg9lF",
          "name": "GamingPulse Backend"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const original = $('Parse Feed Items').item.json;\nconst response = $('LLM Summarize').item.json;\nconst category = original.category || 'gaming';\nconst title = original.title || 'No title';\nconst link = original.link || '';\nconst hashtag = { gaming: '#gaming', hardware: '#hardware', proton: '#proton' }[category] || '#gaming';\nconst emoji = { gaming: '🎮', hardware: '🔧', proton: '🐧' }[category] || '🎮';\nlet msg;\nif (original.skipOllama) {\n  msg = `${hashtag}\\n\\n${emoji} ${title}\\n\\n${link}`;\n} else {\n  let summary = (response.summary || 'No summary available').trim();\n  \n  summary = summary\n    .replace(/^(here is|here's|here are)[^:]*:\\s*/i, '')\n    .replace(/^(summary|overview|in summary)[^:]*:\\s*/i, '')\n    .replace(/^(the article|this article|this news)[^.]*\\.\\s*/i, '')\n    .replace(/^\\s*\\n+/g, '')\n    .trim();\n  msg = `${hashtag}\\n\\n${emoji} *${title}*\\n\\n${summary}\\n\\n${link}`;\n}\nreturn { json: { message: msg } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6320,
        1936
      ],
      "id": "51935503-fe15-45e2-9064-9f0f714e7550",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "chatId": "-1003885000672",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6544,
        1936
      ],
      "id": "d34f7b0e-3d59-4584-ad54-b76e68879a7d",
      "name": "Send Telegram Message",
      "webhookId": "d4ddf247-1478-4246-b8c8-44f1da248037",
      "credentials": {
        "telegramApi": {
          "id": "Twxi9XGw1JOgletO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5296,
        1936
      ],
      "id": "4a8416a7-b6a6-4e84-9d1a-ed72520c8b70",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6944,
        1952
      ],
      "id": "dc825fd0-eac1-4fd5-b540-0b3d8a9bee2e",
      "name": "Wait1",
      "webhookId": "fa08314e-270c-47b3-8ba6-50afb72634de"
    },
    {
      "parameters": {
        "url": "https://www.pcgamer.com/rss/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        4496,
        1456
      ],
      "id": "0dc35bc5-0f58-469c-9a3e-5c76fc8f2cc8",
      "name": "RSS PC Gamer1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.rockpapershotgun.com/feed/news",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        4496,
        1600
      ],
      "id": "f9528d8e-daef-46eb-9e76-605079566270",
      "name": "RSS Rock Paper Shotgun1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.eurogamer.net/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        4496,
        1744
      ],
      "id": "639812bd-5d60-4311-ae01-d301c0a7af36",
      "name": "RSS Eurogamer1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.techpowerup.com/rss/news",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        4496,
        1920
      ],
      "id": "06a699bd-8fdf-4e63-baf2-a2f9c8ebd9f5",
      "name": "RSS TechPowerUp1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.gamingonlinux.com/article_rss.php",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        4496,
        2112
      ],
      "id": "31ddb302-4767-4435-913e-11a08fd3a859",
      "name": "RSS GamingOnLinux1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.phoronix.com/rss.php",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        4496,
        2288
      ],
      "id": "890369fb-c6ec-4122-98e6-4096199479b2",
      "name": "RSS Phoronix1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 9
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4896,
        1856
      ],
      "id": "6bbb64da-1290-493a-86a5-83096f3ac59c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "url": "https://www.youtube.com/feeds/videos.xml?channel_id=UC9PBzalIcEQCsiIkq36PyUA",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        4496,
        2464
      ],
      "id": "a017d4a8-f46b-4077-914d-7a253cc9f155",
      "name": "RSS Digital Foundry1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8080/api/dedup/check",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.link }}"
            },
            {
              "name": "source",
              "value": "={{ $json.source }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5536,
        1952
      ],
      "id": "344ace96-473c-4841-9e98-3d14e2d75322",
      "name": "Dedup Check",
      "credentials": {
        "httpHeaderAuth": {
          "id": "0VqYLTryWIkSg9lF",
          "name": "GamingPulse Backend"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "79ae7786-7278-4f8c-a7d3-35a02d920041",
              "leftValue": "={{ $json.isNew }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5728,
        1952
      ],
      "id": "b42b8c81-0a39-4e4b-b0b5-9f00db5cd4a6",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8080/api/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{$('Parse Feed Items').item.json.title}}"
            },
            {
              "name": "link",
              "value": "={{$('Parse Feed Items').item.json.link}}"
            },
            {
              "name": "source",
              "value": "={{ ('Parse Feed Items').item.json.source }}"
            },
            {
              "name": "category",
              "value": "={{$('Parse Feed Items').item.json.category}}"
            },
            {
              "name": "summary",
              "value": "={{ $json.message }}"
            },
            {
              "name": "success",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6736,
        1936
      ],
      "id": "3048d850-7033-4866-911d-c62ac7b1b6ab",
      "name": "Save Post",
      "credentials": {
        "httpHeaderAuth": {
          "id": "0VqYLTryWIkSg9lF",
          "name": "GamingPulse Backend"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS PC Gamer1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Rock Paper Shotgun1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Eurogamer1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS TechPowerUp1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS GamingOnLinux1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Phoronix1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Digital Foundry1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Feed Items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Summarize": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Message": {
      "main": [
        [
          {
            "node": "Save Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Dedup Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS PC Gamer1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Rock Paper Shotgun1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Eurogamer1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS TechPowerUp1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "RSS GamingOnLinux1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "RSS Phoronix1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Parse Feed Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Digital Foundry1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Dedup Check": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "LLM Summarize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Post": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "90611a55-80a4-4893-a70f-e1d7a6e94638",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a45e56abf1dff98cc7b1e51358496ce29f552649d795008a43aebe8309d0453"
  },
  "id": "PAw86CI6yj9C2oli",
  "tags": []
}